@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair", serif;
}

body {
    background: #bbc6fa;
}

.quote-box {
    background: white;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10x 20px 0px rgba(0, 0, 0, 0.15);
}

.quote-box h2 {
    font-size: 32;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}