* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #191919;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.gallery {
    display: flex;
    overflow-x: hidden; /* Enable horizontal scrolling */
    width: 80%;
    position: relative;
}

.gallery span {
    flex: none;
    padding: 10px;
}

.gallery span img {
    height: 300px; /* Set a fixed height for all images */
    width: auto; /* Let the width adjust automatically */
    max-height: 100%; /* Ensure images don't exceed their original height */
    object-fit: contain; /* Ensure images maintain aspect ratio and fit within their container */
    filter: grayscale(100%);
    transition: transform 0.3s, filter 0.3s;
}

#backBtn,
#nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 20px;
}

.gallery span img:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: grayscale(0);
}
